<div id = "top_link_list">
    <div class = "top_link_text">
    <%= link_to "TOP",front_path,class:"link_text" %>
     </div>
</div>

<div id = "left_end"></div>

<div id ="center_space">
    <div id = "content_title_box">
            <h1><%= @content.article_content_title %></h1>
    </div>
    <div id ="content_thumbnail_box">
        <%= attachment_image_tag @content, :article_content_thumbnail,id:"thumbnail_image" %>        
    </div>
    <div id ="name_box">
        著者：<%= @content.article_content_genre %>
    </div>
    <div id="content_comment_box">
        <%= simple_format(@content.article_content_comment) %>
    </div>
    <br>
    <div id ="genru_box">
    ジャンル：<%= @content.article_content_name %>
    </div>

    <div class = "line"></div>

    <% @articles.each do |f| %>  
        <div id="heading_text_box">
            <%= simple_format(f.article_heading_text,id:"heading_text") %>
       </div>
            <%= simple_format(f.article_top_text) %>
        <div id ="image_box">
            <%= attachment_image_tag f, :article_image,id:"image" %>
        </div >
        <div>
        <%= simple_format(f.article_under_text) %>
    <% end %>
    <div class = "line"></div>

    <div id ="day_put">
        <%= @content.article_content_day %>    
    </div>
    <br>
    <div class = "clear_float"></div>
    <div id = "name_input_space">
        <div id ="name_left">名前：<input type="text"　input maxlength='200' value="名無しさん" div id ="input_front_name"></div>


          <%= form_for @comment, url: front_create_path, method: :post do |f| %>
              <%= f.text_area :commented_name,id:"output_front_name" %>
              <%= f.text_area :commented_text,id:"output_front_comment" %>
              <%= f.text_area :commented_day,id:"output_front_time" %>
          <%= f.submit "コメントする" %>
          <% end %>
          <div id ="comment_input_space">
              <textarea id="input_front_comment" wrap="hard"></textarea>
          </div>
    </div>    
   

    <% @comments.each do |f| %>        
          <div id = "name_time_space">
              No.<%= @count += 1 %>　<%= f.commented_name %>　　<%= f.commented_day %>
          </div>

          <div class ="line_slim"></div> 
          <%= simple_format(f.commented_text) %>
          <br>
    <% end %>

</div>
    
    <div id = "right_end"></div>
</div>

<script>
//##################################################            
    function get_id(get){
        
        var input = 'input_' + get;
        var input_back = '"' + input + '"';
        input = document.getElementById( input_back );
        
        var output = 'output_' + get;
        var out_back = '"' + output + '"';
        output = document.getElementById( out_back );
                
    }

    get_id("front_comment");
    get_id("front_name");
//##################################################            
//##################################################            
    
    var output_front_time = document.getElementById("output_front_time");
    var nowTime = new Date();
    output_front_time.textContent = nowTime;

//##################################################            
//##################################################            
    function key_pass(input,output){    
        input.onkeydown = function(){
        output.textContent = input.value;
        }
        input.onkeyup = function(){
        output.textContent = input.value;
         }
    }

    key_pass(input_front_comment,output_front_comment);
    key_pass(input_front_name,output_front_name);
    output_front_name.textContent = input_front_name.value;
//##################################################


</script>

<style>
#top_link_list{
width: 99%;
height:8%;
background-color: #66623c;
position: fixed;
top: 0px;
margin:auto;
}

.top_link_text{
margin-left:1%;
float:left;
height:60%;
margin-top:1%;
font-weight: bold;
}
  .link_text{
  text-decoration: none;
  color: black;
  width:100%;
  white-space: nowrap;
  color: #fff494;
}

#center_space{
width:56%;
height:100%;
float: left;
margin:auto;
background-color: #fff494;
word-wrap: break-word;
margin-top:5%;
padding-left:2%;
padding-right:2%;
padding-bottom:2%;
border-radius: 5px;
}

#content_title_box{
  width:98%;
  background-color: black;
  color: white;
  margin:auto;
  border-radius: 5px;
  padding-left:1%;
  padding-right:1%;
}

#content_thumbnail_box{
  width:90%;
  height:500px;      
  margin:auto;
  text-align:center;  
}
#thumbnail_image{
    width:auto;
    height:auto;
    max-width:100%;
    max-height:100%;
}

#content_comment_box{
  width:90%;
  margin:auto;
}
#heading_text_box{
  max-height: 100%;
  color: #fff494;
  background-color: #66623c;
  padding-left:1%;
  padding-right:1%;
}
#image_box{
    width: 100%;
    max-height: 300px;      
    margin:auto;
    text-align:center;  
    }
    #image{
        width:auto;
        height:300px;
    }

    #day{
      float:right;
    }
.line{
    height: 5px;
    width:100%;
    background-color:#33311e;
    color:#33311e;
}
.line_slim{
    height: 1px;
    background-color:black;
}
#day_put{
  float:right;
  margin-top:1%;
  padding-left:1%;
  padding-right:1%;
  border-radius: 5px;
  background-color:#33311e;
  color:#fff494;
}
    
#left_end{
width:20%;
height:650px;     
float: left;
}

#right_end{
width:20%;
height:650px;    
float: left;
}
#name_input_space{
  height:2em;
  margin-top:10%;
  margin-bottom:30%;
  heght:4em;
}

#name_left{
 
  float:left;
}
#comment_input_space{
    widtdth:100%;
    height:25em;
}
#input_front_comment{
  width:100%;
  height:40%;
}


#name_time_space{
    overflow: hidden;
    white-space: nowrap;
}
.clear_float{
    width:100;
    clear:both;
}
#output_front_time{display:none;}
#output_front_name{display:none;}
#output_front_comment{display:none;}


body{
background-color:#ccc376;
}
</style>